# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install send
          command: |
            sudo pip3 install sendclient

      - run:
          name: install aria2
          command: |
            sudo apt-get install aria2
            
      - run:
          name: install zip
          command: |
            sudo apt-get install zip
      
      - run:
          name: chmod x send file
          command: |
            chmod +x ./sendit.sh
            
      - run:
          name: make temp dir
          command: |
            mkdir ${GITHUB_BRANCH}

      - run:
          name: download with aria2
          command: |
            aria2c -d ${GITHUB_BRANCH} --seed-time=2 --seed-ratio=0.1 'MAGNET_LINK'

      - run:
          name: zip file
          command: |
            zip -r ${GITHUB_BRANCH}.zip ${GITHUB_BRANCHGITHUB_BRANCH}
            
      - run:
          name: send file
          command: |
            ./sendit.sh ${GITHUB_BRANCH}.zip | xargs -I {} curl -k -d "{\"state\":\"success\",\"target_url\":\"{}\",\"context\":\"sendit\"}" -X POST "https://api.github.com/repos/sirvar/sendit/commits/${CIRCLE_SHA1}/statuses?access_token=${GITHUB_TOKEN}"
            
